Source: ros-humble-adaptive-component
Section: misc
Priority: optional
Maintainer: Víctor Mayoral Vilches <victor@accelerationrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-adaptive-component
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-ros-workspace
Description: A composable container for Adaptive ROS 2 Node computations.
 Allows building Nodes that can select between FPGA, CPU or GPU, at run-time. Stateless by default, can be made stateful to meet use-case specific needs. Refer to examples in README. Technically, provides A ROS 2 Node subclass programmed as a &quot;Component&quot; and including its own single threaded executor to build adaptive computations. Adaptive ROS 2 Nodes are able to perform computations in the CPU, the FPGA or the GPU, adaptively. Adaptive behavior is controlled through the &quot;adaptive&quot; ROS 2 parameter.
